.table {
    font-size: 20px;
    margin-left: 20%;
    margin-right: 20%;
}

.row {
    width:70%;
    
}

.configBtn {
    min-width: 85%;
    width: 85%;
    margin: 0% 7%;
}

.editDeleteBtn {
    overflow: hidden;
    text-align: start;
    width: 100%;
    margin:0%;
}

@media screen and (max-width: 1260px) {
    .table {
        font-size: 15px;
        margin-left: 20%;
        margin-right: 20%;
    }

    
}

@media screen and (max-width: 900px) {
    .table {
        font-size: 12px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .row {
        width:80%;
        
    }
}

@media screen and (max-width: 620px) {
    .editDeleteDiv {
        margin: 0% -10%;
    }
}

@media screen and (max-width: 500px) {
    .editDeleteDiv {
        margin: 0% -25%;
    }
}