body {
    background-image: url("../assets/shutterstock_745544935.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size:fill;
    background-repeat:no-repeat;
}

.center {
    margin-left: auto;
    margin-right: auto;
  }